version: 2.1
orbs:
  aws-cli: circleci/aws-cli@3.1.4
  aws-eks: circleci/aws-eks@1.1.0
  kubernetes: circleci/kubernetes@1.0.2

commands:
  install_awscli:
    description: Install AWS CLI v2
    steps:
      - run:
          name: Install AWS CLI v2
          command: |
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install

jobs:
  build:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: Build node-app
          command: |
            cd node-project
            npm install
            npm run build


  # test application functionalities IF specified in the test property of your package.json file
  test:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: Test node-app
          command: |
            cd node-project
            npm install
            npm run test


  # scan codebase for dependency vulnerabilities IF specified in the scan property of your package.json file
  scan:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: Scan frontend
          command: |
            cd node-project
            npm install
            npm audit fix --force
            npm audit fix
            npm install --save-dev html-webpack-plugin@5.5.0
            npm update js-yaml --depth 4
            npm audit fix --audit-level=critical --force
            npm audit --audit-level=critical

  terraform-init:
    working_directory: /tmp/project
    docker:
      - image: docker.mirror.hashicorp.services/hashicorp/terraform:light
    steps:
      - checkout
      - run:
          name: Terraform init
          command: |
            cd terraform
            terraform init -input=false
      - persist_to_workspace:
          root: .
          paths:
            - .

  terraform-plan:
    docker:
      - image: docker.mirror.hashicorp.services/hashicorp/terraform:light
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Terraform plan
          command: |
            cd terraform
            terraform plan -out tfapply 
      - persist_to_workspace:
          root: .
          paths:
            - .

  terraform-apply:
    docker:
      - image: docker.mirror.hashicorp.services/hashicorp/terraform:light
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Terraform apply
          command: |
            cd terraform
            terraform apply -auto-approve tfapply
      - persist_to_workspace:
          root: .
          paths:
            - .
      
  terraform-plan-destroy:
    docker:
      - image: docker.mirror.hashicorp.services/hashicorp/terraform:light
    steps:
      - attach_workspace:
          at: .
      - run:
          name: terraform create destroy plan
          command: |
            cd terraform
            terraform plan -destroy -out tfdestroy
      - persist_to_workspace:
          root: .
          paths:
            - .

  terraform-destroy:
    docker:
      - image: docker.mirror.hashicorp.services/hashicorp/terraform:light
    steps:
      - attach_workspace:
          at: .
      - run:
          name: terraform destroy
          command: |
            cd terraform
            tterraform plan -destroy -out tfdestroy

  build-nodejs-app:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout

      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            sudo mv /tmp/docker/* /usr/bin
      
      - setup_remote_docker

      - run: 
          name: Build Docker image
          command: | 
            cd nodejs-application
            docker build -t django_app .
      - run:
          name: Push to Docker Hub
          command: |
            cd nodejs-application
            echo "$DOCKER_PASSWORD"
            docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
            docker tag $MY_WEBAPP:latest $DOCKER_USERNAME/$MY_WEBAPP 
            docker push $DOCKER_USERNAME/$MY_WEBAPP
            
  # deploy-nodejs-app:
  #   executor: aws-eks/default
  #   steps:
  #     - checkout
  #     - aws-eks/eks-authenticate:
  #         cluster-name: $EKS_CLUSTER_NAME
  #     - kubernetes/install-kubectl:
  #         version: 1.22.2
  #     - kubernetes/apply:
  #         namespace: default
  #         files:
  #           - ./kubernetes-nodejs/app-deployment.yaml 
  #           - ./kubernetes-nodejs/app-tcp-service.yaml
  #           - ./kubernetes-nodejs/db-deployment.yaml
  #           - ./kubernetes-nodejs/db-data-persistentvolumeclaim.yaml
  #           - ./kubernetes-nodejs/deploying-and-monitoring-an-nodejs-app-and-sock-webapp-through-a-cicd-pipeline-default-networkpolicy.yaml
  # deploy-nodejs-app:
  #     docker:
  #       - image: 'cimg/python:3.10'
  #     parameters:
  #       cluster-name:
  #         description: |
  #           $EKS_CLUSTER_NAME
  #         type: string
  #     steps:
  #       - checkout
  #       - aws-eks/update-kubeconfig-with-authenticator:
  #           cluster-name: $EKS_CLUSTER_NAME
  #           install-kubectl: true
  #       - kubernetes/create-or-update-resource:
  #           get-rollout-status: true
  #           resource-file-path: ./kubernetes-nodejs/app-deployment.yaml, ./kubernetes-nodejs/app-tcp-service.yaml, ./kubernetes-nodejs/db-deployment.yaml, ./kubernetes-nodejs/db-data-persistentvolumeclaim.yaml, ./kubernetes-nodejs/deploying-and-monitoring-an-nodejs-app-and-sock-webapp-through-a-cicd-pipeline-default-networkpolicy.yaml
  #           resource-name: kubernetes-nodejs/nodejs-app 

  deploy-nodejs-app:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - install_awscli
      - run:
          name: Install kubectl
          command: |
            curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
            chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl
      - run:
          name: Configure kubectl
          command: |
            aws eks --region $AWS_REGION update-kubeconfig --name $EKS_CLUSTER_NAME
      - run:
          name: Deploy Docker image to EKS cluster
          command: |
            sed -i "s|IMAGE|$AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$DOCKER_USERNAME/$MY_WEBAPP:latest|g" kubernetes-nodejs/*yaml
            kubectl apply -f kubernetes-nodejs/
            kubectl get services

  deploy-sock-shop:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - install_awscli
      - run:
          name: Install kubectl
          command: |
            curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
            chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl
      - run:
          name: Configure kubectl
          command: |
            aws eks --region $AWS_REGION update-kubeconfig --name $EKS_CLUSTER_NAME
      - run:
          name: Deploy Docker image to EKS cluster
          command: |
            sed -i "s|IMAGE|$AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$DOCKER_USERNAME/$MY_WEBAPP:latest|g" kubernetes-sock-shop/*yaml
            kubectl create namespace kubernetes-sock-shop
            kubectl apply -f kubernetes-sock-shop/
            
  deploy-prometheus:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - install_awscli
      - run:
          name: Install kubectl
          command: |
            curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
            chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl
      - run:
          name: Configure kubectl
          command: |
            aws eks --region $AWS_REGION update-kubeconfig --name $EKS_CLUSTER_NAME
      - run:
          name: Deploy Docker image to EKS cluster
          command: |
            sed -i "s|IMAGE|$AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$DOCKER_USERNAME/$MY_WEBAPP:latest|g" kubernetes-sock-shop/manifests-monitoring/*yaml
            kubectl apply -f kubernetes-sock-shop/manifests-monitoring/
          
workflows:
  version: 2
  nodejs-deployment:
    jobs:
      - build
      - test:
          requires: [build]
      - scan:
          requires: [build, test]
      - terraform-init:
          requires: [scan]
      - terraform-plan:
          requires: ["terraform-init"]
      - hold-apply:
          type: approval
          requires: ["terraform-plan"]
      - terraform-apply:
          requires: ["hold-apply"]
      - terraform-plan-destroy:
          requires: ["terraform-apply"]
      - hold-destroy:
          type: approval
          requires: ["terraform-plan-destroy"]
      - terraform-destroy:
          requires: ["hold-destroy"]  
      - build-nodejs-app:
          requires: ["terraform-apply"]
      - deploy-nodejs-app:
          requires: [terraform-apply, build-nodejs-app]
       - deploy-sock-shop:
          requires: [terraform-apply, build-nodejs-app]
      - deploy-prometheus:
          requires: [terraform-apply, build-nodejs-app]
